<h1>Tiny URL App</h1>

<% if(username){ %>
  <h2> Sup,  <%= username %> </h2>
  <table>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  </table>
<% } else { %>  
    <a href="/login" >Login</a></br>
    <a href="/register">Register</a>
<% } %>