<h1>This is my header</h1>

<% if(username){ %>
  <h2> <%= username %> </h2>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>
<% } else { %>  
  <a href="/login">Login</a></br>
  <a href="/register">Register</a>
<% } %>



 