<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TinyApp</title>
  </head>
  <body>
    <header>
        <% include ../partials/_header %>
    </header>
    <ul>
      <li><%= urls[shortURL] %> - <%= shortURL  %></li>
    </ul>
  </body>
</html>