<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TinyApp</title>
  </head>
  <body>
    <header>
        <% include ../partials/_header %>
    </header>
    <ul>
      <li><%= urls[shortURL] %> - <%= shortURL  %></li>
    </ul>
    <form method="POST" action=<%= `/urls/${shortURL}` %>>
      <input type=text name='urlEdit' value=<%=`${urls[shortURL]}`%> placeholder='...' />
      <button type="submit">Edit URL</button>
    </form>
  </body>
</html>


