<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ../partials/_header %>
  </header>
  <ul>
    <li><%= shortURL %> - <%= url.longURL %></li>
  </ul>
  <form method="POST" action=<%= `/urls/${shortURL}` %>>
  <input style="width: 175px" type=text name='urlEdit' value=<%=`${url.longURL}`%> />
    <button type="submit">Edit URL</button>
    <a type="submit" href="/urls/new">New URL</a>
  </form>
</body>
</html>




